<div id="header">
    <div id="location">{{location-header}}</div>
    <div id="company">{{logo-header}}</div>
    <div id="page-title"></div>
</div>

<div id="content">
{{outlet}}
</div>

<div id="footer">
    <div id="menu">
        <ul>
            <li>
                {{#link-to 'index'}}Home{{/link-to}}
            </li>
            <li>
                {{#link-to 'menu'}}Menu{{/link-to}}
            </li>
        </ul>
    </div>
    <div id="progress-indicator"></div>
    <div id="navigation"></div>
</div>



